._*

*.aux
*.log
*.lof
*.lot
*.fls
*.out
*.toc
*.synctex.gz
*.fdb_latexmk

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

*.atfi

# do not track the packages
tikz-optics.tds.zip
tikz-optics.zip
